.setting {
  background-color: white;
  display: flex;
  flex: 1;
  padding: 30px 50px;
  flex-direction: column;
  .form {
    .block {
      text-align: left;
      width: 100%;
      padding-top: 20px;
      label {
        display: block;
        font-weight: 600;
        margin-bottom: 10px;
      }
      input {
        width: 100%;
        padding: 15px;
        border-radius: 20px;
      }
    }
  }
  button {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    background-color: #3f72af;
    border: 0;
    border-radius: 20px;
    margin-top: 40px;
    cursor: pointer;
    color: white;
  }
}
