.header {
  height: 50px;
  background-color: #3f72af;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  p {
    padding-left: 8px;
  }
}
